body {
  max-width: 100%;
  overflow-x: hidden;
}

#canvas {
  width: 100%;
  height: 600px;
  border: 1px solid #000000;
}

.field label {
  display: inline-block;
  width: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #e9e9e9;
}

.content.left {
  margin-left: 30px;
}

.content.right {
  float: right;
  margin-right: 30px;
}

@media (max-width: 500px) {
  footer {
    position: relative;
  }
  #canvas {
    height: 400px;
  }
}
